@model IEnumerable<Game.Models.Message>

<h1>Skrzynka Odbiorcza</h1>
<table class="table">
    <thead>
        <tr>
            <th>Od</th>
            <th>Treść</th>
            <th>Data</th>
            <th>Status</th>
            <th>Opcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model)
        {
            <tr>
                <td>@message.Sender.Email</td>
                <td>@message.Content</td>
                <td>@message.SentAt.ToString("g")</td>
                <td>@(message.IsRead ? "Przeczytana" : "Nieprzeczytana")</td>
                <td>
                    @if (!message.IsRead)
                    {
                        <form method="post" action="@Url.Action("MarkAsRead", "Messages", new { messageId = message.Id, userId = message.ReceiverId })">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-success btn-sm">Oznacz jako przeczytaną</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
